.borde {
	border: 2px solid;
}

#titulo {
	margin: 10vh;
	text-align: center;
}

a {
	color: black;
	font-style: bold;
}

a:visited {
	color: white;
	font-style: bold;
}

a:hover {
	color: yellow;
	font-style: bold;
}

nav {
	margin: 2vh;
	top: 50vh;
	background-color: white;
}

header {
	background-color: darkblue;
	margin: 1vh;
	text-align: center;
}

#subcaja {
	position: fixed;
	height: 53.5vh;
	width: 40vh;
	margin-left: 2vh;
}

#buscar_google {
	margin-top: 3vh;
	margin-left: 1vh;
	height: 18vh;
	margin-right: 1vh;
}

#enviar_correo {
	margin-top: 5vh;
	height: 24vh;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-bottom: 3vh;
}

#contenido1 {
	position: relative;
	left: 45vh;
	width: 75vw;
	height: 25vh;
}

#contenido2 {
	position: relative;
	margin-top: 3vh;
	left: 45vh;
	width: 75vw;
	height: 25vh;
	margin-bottom: 2vh;
}

#correo_de_incidencias {
	height: 20vh;
	margin: 2vh;
	background-color: darkblue;
}