.borde {
	border: 2px solid;
}

#titulo {
	margin: 10vh;
	text-align: center;
}

a {
	color: black;
	font-style: bold;
}

a:visited {
	color: white;
	font-style: bold;
}

a:hover {
	color: yellow;
	font-style: bold;
}

nav {
	margin: 2vh;
	top: 50vh;
	background-color: white;
}

header {
	background-color: darkblue;
	margin: 1vh;
	text-align: center;
}

#imagenes {
	margin: 1vh;
	width: 97.7vw;
	height: 23vh;
}

#imagen1 {
	position: absolute;
	margin: 1vh;
	height: 20vh;
	width: 47vw;
}

#imagen2 {
	position: relative;
	left: 49vw;
	margin: 1vh;
	height: 20vh;
	width: 47vw;
}

img {
	width: 20vh;
}

#contenido {
	margin: 1vh;
	height: 37vh;
	width: 97.7vw;
}
#correo_de_incidencias {
	height: 20vh;
	margin: 1vh;
	background-color: darkblue;
}