div#enlaces{
  position: fixed;
  top:0px;
  left:0px;
  width:25%;
  height: 25%;
  border: 1px solid black;
}

div#contenido{
  position: absolute;
  left: 25.11%;
  top: 0%;
  border: 1px solid black;
  float:left;
  width: 75%;
  height: 25%;
}

div#vacio{
  position: absolute;
  border: 1px solid black;
  height: 200%;
  left: 0%;
}